<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Staging</key>
	<dict>
		<key>googleAPIKey</key>
		<string>AIzaSyCNBoaYoL-jv1JVaEs5JH24HVuZVFnQN60</string>
		<key>BaseURL</key>
		<string>http://dvh-staging.netsolutions.in</string>
		<key>clientId</key>
		<string>asTxUFruNVdfWdo0RttVaSsoucLoqjbN8XBYen5r</string>
		<key>clientSecret</key>
		<string>lzAK51w0qJvI4kALf5nkofq4qHFJJpSHlvzfsHeqhET5RmNn7j3hj6udSx1EZRwf1WbqIXTTY5vyPQIncFccDEYs7a9uuoMIaitOTx39xjOdBM8Aiap1fGgOW3kFFdJs</string>
		<key>userName</key>
		<string>oauth@dvhcanada.com</string>
		<key>userPassword</key>
		<string>Admin123</string>
		<key>grantType</key>
		<string>password</string>
		<key>s3BucketName</key>
		<string>staydream</string>
		<key>s3BasicPath</key>
		<string>https://s3.amazonaws.com/</string>
		<key>s3PoolId</key>
		<string>us-east-2:9953f8c9-f00a-4ff2-a197-15dd4c5e5e87</string>
		<key>s3profilePhoto</key>
		<string>/qa/profile/personal/</string>
		<key>s3GovPhoto</key>
		<string>/qa/profile/id/</string>
		<key>s3PropertyFull</key>
		<string>/qa/property/original/</string>
		<key>s3PropertyThumb</key>
		<string>/qa/property/thumbnail/</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>BaseURL</key>
		<string>http://dvh-staging.netsolutions.in</string>
		<key>clientId</key>
		<string>asTxUFruNVdfWdo0RttVaSsoucLoqjbN8XBYen5r</string>
		<key>clientSecret</key>
		<string>lzAK51w0qJvI4kALf5nkofq4qHFJJpSHlvzfsHeqhET5RmNn7j3hj6udSx1EZRwf1WbqIXTTY5vyPQIncFccDEYs7a9uuoMIaitOTx39xjOdBM8Aiap1fGgOW3kFFdJs</string>
		<key>userName</key>
		<string>oauth@dvhcanada.com</string>
		<key>userPassword</key>
		<string>Admin123</string>
		<key>grantType</key>
		<string>password</string>
		<key>s3BucketName</key>
		<string>staydream</string>
		<key>s3BasicPath</key>
		<string>https://s3.amazonaws.com/</string>
		<key>s3PoolId</key>
		<string>us-east-2:9953f8c9-f00a-4ff2-a197-15dd4c5e5e87</string>
		<key>s3profilePhoto</key>
		<string>/qa/profile/personal/</string>
		<key>s3GovPhoto</key>
		<string>/qa/profile/id/</string>
		<key>s3PropertyFull</key>
		<string>/qa/property/original/</string>
		<key>s3PropertyThumb</key>
		<string>/qa/property/thumbnail/</string>
		<key>placesClientKey</key>
		<string>AIzaSyCNBoaYoL-jv1JVaEs5JH24HVuZVFnQN60</string>
		<key>googleMapsAPIKey</key>
		<string>AIzaSyBGou7GCdo2DR-lM3aoiW1193_j_AxSyEU</string>
		<key>placesIosKey</key>
		<string>AIzaSyD7kXUsWDXQLqPMLRDY1f4rmeCXEU1aJMc</string>
	</dict>
	<key>Development</key>
	<dict>
		<key>BaseURL</key>
		<string>http://172.16.13.246:9090</string>
		<key>clientId</key>
		<string>z1jQ35cjY7XWDguqvTilmoaosU0gHd9zZq2WRfwY</string>
		<key>clientSecret</key>
		<string>2kK8PRJyTPOfdEGDuAbOktj7zKZF4XLXFWYZpUxMhXmTSpNkJI0cfSvqZfRon3bGfAurjBHpVlyf46CobPA9l7N7RDeziBJKKPcQ7bo8hOrrBJFNVdce6f95HZXng8Fx</string>
		<key>userName</key>
		<string>oauth@dvhcanada.com</string>
		<key>userPassword</key>
		<string>Admin123</string>
		<key>grantType</key>
		<string>password</string>
		<key>s3BucketName</key>
		<string>staydream</string>
		<key>s3BasicPath</key>
		<string>https://s3.amazonaws.com/</string>
		<key>s3PoolId</key>
		<string>us-east-2:9953f8c9-f00a-4ff2-a197-15dd4c5e5e87</string>
		<key>s3profilePhoto</key>
		<string>/qa/profile/personal/</string>
		<key>s3GovPhoto</key>
		<string>/qa/profile/id/</string>
		<key>s3PropertyThumb</key>
		<string>/qa/property/thumbnail/</string>
		<key>s3PropertyFull</key>
		<string>/qa/property/original/</string>
		<key>googleMapsAPIKey</key>
		<string>AIzaSyBGou7GCdo2DR-lM3aoiW1193_j_AxSyEU</string>
		<key>placesClientKey</key>
		<string>AIzaSyCNBoaYoL-jv1JVaEs5JH24HVuZVFnQN60</string>
		<key>placesIosKey</key>
		<string>AIzaSyD7kXUsWDXQLqPMLRDY1f4rmeCXEU1aJMc</string>
	</dict>
	<key>QC</key>
	<dict>
		<key>BaseURL</key>
		<string>http://dvh-testing.netsol.in</string>
		<key>googleMapsAPIKey</key>
		<string>AIzaSyBGou7GCdo2DR-lM3aoiW1193_j_AxSyEU</string>
		<key>placesClientKey</key>
		<string>AIzaSyCNBoaYoL-jv1JVaEs5JH24HVuZVFnQN60</string>
		<key>placesIosKey</key>
		<string>AIzaSyD7kXUsWDXQLqPMLRDY1f4rmeCXEU1aJMc</string>
		<key>clientId</key>
		<string>rPb6gXwKMsdNYDXPWwgtv3zYjf72owPKswv5Cr9o</string>
		<key>clientSecret</key>
		<string>CPlh8391cv0SPoIlSqincbidSGHtKwU7iOsWckaqHzZvvfFjPB3uc21tg2cYxLw7rAOb7prYAeC1IszqxReotsSSePTNDLZGAL6IQDT97iiI8uJlCIbpINGyec3N7sr4</string>
		<key>userName</key>
		<string>oauth@dvhcanada.com</string>
		<key>userPassword</key>
		<string>Admin123</string>
		<key>grantType</key>
		<string>password</string>
		<key>s3BucketName</key>
		<string>staydream</string>
		<key>s3BasicPath</key>
		<string>https://s3.amazonaws.com/</string>
		<key>s3PoolId</key>
		<string>us-east-2:9953f8c9-f00a-4ff2-a197-15dd4c5e5e87</string>
		<key>s3profilePhoto</key>
		<string>/qa/profile/personal/</string>
		<key>s3GovPhoto</key>
		<string>/qa/profile/id/</string>
		<key>s3PropertyThumb</key>
		<string>/qa/property/thumbnail/</string>
		<key>s3PropertyFull</key>
		<string>/qa/property/original/</string>
		<key>googleAPIKey</key>
		<string>AIzaSyAFL8g_B0OzTsuVgE6hAqy-3dAupBJgv70</string>
	</dict>
</dict>
</plist>
